In [1]:
import numpy as np
import cv2
from PIL import Image
from matplotlib import pyplot as plt
%matplotlib inline
import os
from os import listdir
from os.path import isfile, join
import pandas as pd

In [2]:
def load_images_from_folder(folder):
    train_data=[]
    for filename in os.listdir(folder):
        img = cv2.imread(os.path.join(folder,filename),cv2.IMREAD_GRAYSCALE)
        img=~img
        if img is not None:
            ret,thresh=cv2.threshold(img,127,255,cv2.THRESH_BINARY)
            ctrs,ret=cv2.findContours(thresh,cv2.RETR_EXTERNAL,cv2.CHAIN_APPROX_NONE)
            cnt=sorted(ctrs, key=lambda ctr: cv2.boundingRect(ctr)[0])
            w=int(28)
            h=int(28)
            maxi=0
            for c in cnt:
                x,y,w,h=cv2.boundingRect(c)
                maxi=max(w*h,maxi)
                if maxi==w*h:
                    x_max=x
                    y_max=y
                    w_max=w
                    h_max=h
            im_crop= thresh[y_max:y_max+h_max+10, x_max:x_max+w_max+10]
            im_resize = cv2.resize(im_crop,(28,28))
            im_resize=np.reshape(im_resize,(784,1))
            train_data.append(im_resize)
    return train_data

In [3]:
data = []

In [4]:
#10 acts as a label for subtraction operation
data = load_images_from_folder('images/negative')

for i in range(len(data)):
    data[i] = np.append(data[i], ['10'])
    
print(len(data[0]))

785

In [5]:
#11 acts as a label for addition operation
data11 = load_images_from_folder('images/add')

for i in range(len(data11)):
    data11[i] = np.append(data11[i], ['11'])
data = np.concatenate((data, data11))

data.shape

(6334, 785)

In [6]:
#10 acts as a label for subtraction operation
data12 = load_images_from_folder('images/times')

for i in range(len(data12)):
    data12[i] = np.append(data12[i], ['12'])
data = np.concatenate((data, data12))
data.shape

(9585, 785)

In [7]:
#10 acts as a label for subtraction operation
data0 = load_images_from_folder('images/0')

for i in range(len(data0)):
    data0[i] = np.append(data0[i], ['0'])
data = np.concatenate((data, data0))
data.shape

(12446, 785)

In [8]:
#10 acts as a label for subtraction operation
data1 = load_images_from_folder('images/1')

for i in range(len(data1)):
    data1[i] = np.append(data1[i], ['1'])
data = np.concatenate((data, data1))
data.shape

(15878, 785)

In [9]:
#10 acts as a label for subtraction operation
data2 = load_images_from_folder('images/2')

for i in range(len(data2)):
    data2[i] = np.append(data2[i], ['2'])
data = np.concatenate((data, data2))
data.shape

(19123, 785)

In [10]:
#10 acts as a label for subtraction operation
data3 = load_images_from_folder('images/3')

for i in range(len(data3)):
    data3[i] = np.append(data3[i], ['3'])
data = np.concatenate((data, data3))
data.shape

(21796, 785)

In [11]:
#10 acts as a label for subtraction operation
data4 = load_images_from_folder('images/4')

for i in range(len(data4)):
    data4[i] = np.append(data4[i], ['4'])
data = np.concatenate((data, data4))
data.shape

(25052, 785)

In [12]:
#10 acts as a label for subtraction operation
data5 = load_images_from_folder('images/5')

for i in range(len(data5)):
    data5[i] = np.append(data5[i], ['5'])
data = np.concatenate((data, data5))
data.shape

(28597, 785)

In [13]:
#10 acts as a label for subtraction operation
data6 = load_images_from_folder('images/6')

for i in range(len(data6)):
    data6[i] = np.append(data6[i], ['6'])
data = np.concatenate((data, data6))
data.shape

(31715, 785)

In [14]:
#10 acts as a label for subtraction operation
data7 = load_images_from_folder('images/7')

for i in range(len(data7)):
    data7[i] = np.append(data7[i], ['7'])
data = np.concatenate((data, data7))
data.shape

(34624, 785)

In [15]:
#10 acts as a label for subtraction operation
data8 = load_images_from_folder('images/8')

for i in range(len(data8)):
    data8[i] = np.append(data8[i], ['8'])
data = np.concatenate((data, data8))
data.shape

(37692, 785)

In [16]:
#10 acts as a label for subtraction operation
data9 = load_images_from_folder('images/9')

for i in range(len(data9)):
    data9[i] = np.append(data9[i], ['9'])
data = np.concatenate((data, data9))
data.shape

(40745, 785)

In [19]:
df = pd.DataFrame(data, index=None)
df.to_csv('train_data.csv', index=None)

In [23]:
file = pd.read_csv('train_data.csv')
file.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,10
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
2,255,255,255,223,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
4,0,0,0,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,10