In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('train_data.csv')
df.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,10
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
2,255,255,255,223,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
4,0,0,0,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,10

In [3]:
Y_train = df['784']
X_train = df.drop(labels='784', axis=1)

In [4]:
X_train.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,255,255,255,223,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0

In [5]:
Y_train

0        10
1        10
2        10
3        10
4        10
         ..
40740     9
40741     9
40742     9
40743     9
40744     9
Name: 784, Length: 40745, dtype: int64

In [6]:
from keras.utils.np_utils import to_categorical
cat = to_categorical(Y_train, num_classes=13)
cat[0]

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.], dtype=float32)

In [7]:
l = []
for i in range(Y_train.shape[0]):
    l.append(np.array(X_train[i:i+1]).reshape(28,28,1))

In [8]:
X = np.array(l)/255
X.shape

(40745, 28, 28, 1)

In [9]:
from tensorflow import keras
from keras import layers
from keras import Sequential
from keras.layers import Flatten, Dense, Dropout
from sklearn.model_selection import train_test_split
from keras.layers.convolutional import Conv2D, MaxPooling2D

In [10]:
xTrain, xTest, yTrain, yTest = train_test_split(X, cat, test_size=0.2, random_state=42)
xTrain.shape

(32596, 28, 28, 1)

In [99]:
#Artificial neural network
model = Sequential([
    Flatten(input_shape=(28,28,1)),
    Dense(500, activation='relu'),
    Dense(300, activation='relu'),
    Dense(13, activation='softmax')
])
model.compile(
    optimizer='adam',
    loss='categorical_crossentropy',
    metrics=['accuracy']
)
model.fit(xTrain, yTrain, epochs=5)

Epoch 1/5
1019/1019 [==============================] - 4s 3ms/step - loss: 0.6539 - accuracy: 0.8102
Epoch 2/5
1019/1019 [==============================] - 3s 3ms/step - loss: 0.0449 - accuracy: 0.9895
Epoch 3/5
1019/1019 [==============================] - 3s 3ms/step - loss: 0.0189 - accuracy: 0.9960
Epoch 4/5
1019/1019 [==============================] - 3s 3ms/step - loss: 0.0121 - accuracy: 0.9966
Epoch 5/5
1019/1019 [==============================] - 3s 3ms/step - loss: 0.0133 - accuracy: 0.9962

In [55]:
#Artificial neural network
model = Sequential([
    Flatten(input_shape=(1,28,28)),
    Dense(300, activation='relu'),
    Dense(100, activation='relu'),
    Dense(13, activation='softmax')
])
model.compile(
    optimizer='adam',
    loss='sparse_categorical_crossentropy',
    metrics=['accuracy']
)
model.fit(xTrain, yTrain, epochs=5)

Epoch 1/5
1019/1019 [==============================] - 2s 2ms/step - loss: 0.7374 - accuracy: 0.7875
Epoch 2/5
1019/1019 [==============================] - 2s 2ms/step - loss: 0.0773 - accuracy: 0.9832
Epoch 3/5
1019/1019 [==============================] - 2s 2ms/step - loss: 0.0255 - accuracy: 0.9957
Epoch 4/5
1019/1019 [==============================] - 2s 2ms/step - loss: 0.0176 - accuracy: 0.9960
Epoch 5/5
1019/1019 [==============================] - 2s 2ms/step - loss: 0.0151 - accuracy: 0.9959

In [56]:
model.evaluate(xTest, yTest)

255/255 [==============================] - 1s 949us/step - loss: 0.0528 - accuracy: 0.9909

[0.05283605679869652, 0.9909191131591797]

In [60]:

np.argmax(model.predict(xTest[0]))

6

In [61]:
yTest

31488     6
2624     10
28296     5
23829     4
39973     9
         ..
266      10
8966     12
35366     8
18999     2
18853     2
Name: 784, Length: 8149, dtype: int64

In [11]:
cnnModel = Sequential([
    Conv2D(filters=30, kernel_size=(5,5), input_shape=(28,28,1), activation='relu'),
    MaxPooling2D(pool_size=(2,2)),
    Conv2D(filters=15, kernel_size=(3,3), activation='relu'),
    MaxPooling2D(pool_size=(2,2)),
    Dropout(0.2),
    Flatten(),
    Dense(128, activation='relu'),
    Dense(50, activation='relu'),
    Dense(13, activation='softmax')
])

cnnModel.compile(
    optimizer='adam',
    loss='categorical_crossentropy',
    metrics=['accuracy']
)
cnnModel.fit(X, cat, epochs=10, shuffle=True, verbose=1)

Epoch 1/10
1274/1274 [==============================] - 25s 9ms/step - loss: 0.8224 - accuracy: 0.7438
Epoch 2/10
1274/1274 [==============================] - 14s 11ms/step - loss: 0.1398 - accuracy: 0.9614
Epoch 3/10
1274/1274 [==============================] - 12s 9ms/step - loss: 0.0876 - accuracy: 0.9750
Epoch 4/10
1274/1274 [==============================] - 12s 9ms/step - loss: 0.0608 - accuracy: 0.9813
Epoch 5/10
1274/1274 [==============================] - 15s 12ms/step - loss: 0.0458 - accuracy: 0.9858
Epoch 6/10
1274/1274 [==============================] - 14s 11ms/step - loss: 0.0368 - accuracy: 0.9893
Epoch 7/10
1274/1274 [==============================] - 14s 11ms/step - loss: 0.0371 - accuracy: 0.9896
Epoch 8/10
1274/1274 [==============================] - 13s 11ms/step - loss: 0.0270 - accuracy: 0.9918
Epoch 9/10
1274/1274 [==============================] - 12s 9ms/step - loss: 0.0265 - accuracy: 0.9918
Epoch 10/10
1274/1274 [==============================] - 12s 9ms/step - loss: 0.0226 - accuracy: 0.9929

In [15]:
cnnModel.evaluate(xTest, yTest)

255/255 [==============================] - 2s 5ms/step - loss: 0.0237 - accuracy: 0.9936

[0.02369569055736065, 0.9936188459396362]

In [12]:
#saving the model to a binary file
cnnModel.save('trained.h5')

In [33]:
from keras.models import load_model

In [34]:
loadedModel = load_model('trained.h5')

In [42]:
np.argmax(loadedModel.predict(xTest)[0])

6

In [43]:
yTest[0]

array([0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0.], dtype=float32)